@(userForm: Form[models.User])

@import helper._

@main("GATI: Signup" ){

<h1>Try GATI free for 30 Days</h1>

@form(routes.User.save(), 'id -> "regForm"){
	
	@inputText(userForm("fullName"), '_label->"FullName", 'id->"fullname")
	@inputText(userForm("company"),'_label->"Company",  'id->"company")
	@inputText(userForm("email"),'_label->"Email",  'id->"email")
	@inputPassword(userForm("password"),'_label->"Password", 'id->"password")
	
	<input type = "submit" value = "Create" id = "button_create"/>
	
	}

}